<div class="logo">
    <a href="http://ecomundo.edu.ec/" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/Logo_banner.png" />
        </div>
        Atrium 2.0
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="this.pro === true" class="logo">
        <div class="card-profile">
            <br>
            <div class="card-avatar">
                <a href="javascript:void(0)">
                    <img class="img" src="./assets/img/user1.png" width=120px;/>
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray" style='color: #008159'><br>Representado</h6>
                <div *ngFor="let item of _sidebar.HijosList">
                    <h4 class="card-title" *ngIf="item.cod_alum === this.alum">{{item.apealum}} {{item.nomalum}}</h4>
                </div>
            </div>
        </div>

        <div *ngIf="this.hij === true" class="user" style="text-align: center;">
            <div class="user-info">
                <a class="" data-toggle="collapse" href="#representados" aria-expanded="true"><br>
                    <span style='color: #008159'> Cambiar Representado <b class="caret"></b></span>
                </a>
                <div class="{{this.cam}}" id="representados" (click)="cambio();">
                    <ul class="nav">
                        <li *ngFor="let item of _sidebar.HijosList" class="nav-item">
                            <a *ngIf="item.cod_alum !== this.alum" class="nav-link" style="padding: 0px; margin: 0px" href="javascript:void(0)">
                                <span class="sidebar-normal" (click)="change(item.cod_alum);">{{item.apealum}} {{item.nomalum}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>