th {
    background-color: #f6e8ff;
}

table {
    margin-top: 25px;
}

td,
.tbDeu {
    border: 1px solid #652d89;
}

.online-init {
    background-color: #d9fbf1;
    padding: 15px;
    margin: 20px 100px 20px 100px;
}

.color {
    color: #5D5D5D;
}

.modal-body {
    max-height: calc(90vh - 210px);
    overflow-y: auto;
}

.modal-header {
    padding-bottom: 1.5rem;
    text-align: center;
}

.modal-footer {
    padding-top: 1.5rem;
    text-align: center;
}

p {
    text-align: justify;
    font-weight: 100;
}

ol {
    padding-right: 3rem;
}

ol li {
    font-weight: bold;
}

.ndeu {
    color: #50b848;
    font-weight: bold;
    font-size: 3rem;
    padding: 5rem;
    text-align: center;
}

.form-control {
    color: #fff;
}